// variables.scss
$primary: #007bff; // Color azul fuerte para el botón y otros elementos
$link: #0056b3; // Color de enlace
$info: #00d1b2; // Color de botones de info
$success: #48c774; // Color de botones de éxito
$danger: #f14668; // Color de botones de error

// Puedes cambiar otros colores globales también
$body-background: #4899eb; // Azul claro para el fondo
